<div>
  <input placeholder="Task Title" [(ngModel)]="title" />

  <input placeholder="Description" [(ngModel)]="description" />

  <select [(ngModel)]="priority">
    <option>Low</option>
    <option>Medium</option>
    <option>High</option>
  </select>

  <input type="date" [(ngModel)]="dueDate" />

  <select [(ngModel)]="category">
    <option>Work</option>
    <option>Personal</option>
    <option>Study</option>
  </select>

  <input placeholder="Tags" [(ngModel)]="tags" />

  <button (click)="addTask()">Add Task</button>
</div>
