
ul li .active {
  background-color: yellowgreen;
  border-radius: 5px;
  color: white !important;
}

ul li .active:hover {
  background-color: green;
}

ul li .nl:hover {
  background-color: green;
  border-radius: 5px;
  color: white !important;
}