<h1 class="alert alert-info w-75 mx-auto">App Component</h1>
<!-- <p class="w-50 mx-auto">Search</p>
<input #inputRef type="text" class="input-group w-50 mx-auto" />
<button #btnRef class="btn btn-dark d-block w-50 mx-auto">Fetch</button> -->
<!-- <app-subjects/> -->
<!-- @if (load()) {
  <h1 class="alert alert-info">LOASD.....</h1>
}
@if (error().state) {
  <h1 class="alert alert-danger">{{ error().message }}</h1>
} @else if (data) {
  <h1>
    {{ data() }}
  </h1>
} -->
<!-- //////////////////////////////////////////////////// -->
<div class="container">
  <button (click)="switch()">kill navbar</button>
  <!-- @if (switchDis) { -->
  <app-navbar></app-navbar>
  <!-- } -->
  <div class="content">
    <div class="left-panel">
      <app-sender></app-sender>
    </div>

    <div class="right-panel">
      @if (switchDis) {
        <app-toast></app-toast>
      }
      <app-history></app-history>
    </div>
  </div>
</div>
