<!-- <h1>this is first comp</h1>
<h2>{{ name }}</h2>
<input type="text" [value]="name" />
<input type="text" value="{{ name }}" />

<table>
  <thead>
    <tr>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      colSpann
      <td [attr.colspan]="colspan">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aut, nobis, quo vitae officiis
        debitis deleniti magni saepe dignissimos ea laboriosam assumenda quisquam ex quae, quaerat
        culpa omnis sit quasi.
      </td>
    </tr>
  </tbody>
</table> -->

<!-- <input type="text" [name]="name" [value]="value" /> -->
<!-- <td [attr.copan]="colspan">dddddddd</td>
<td attr.colspan="{{ colspan }}">dddddddd</td> -->

<!-- colspan => colSpan -->

<!-- <p [class]="err ? 'danger' : 'sucess'">this is mariem</p> -->

<!-- <p [class]="classes">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quas fuga, quidem accusantium
  corrupti recusandae labore vitae tempora cumque. Saepe omnis quo in illo iusto ullam asperiores
  magni nisi rerum!
</p> -->
<!-- <p [class]="[err ? 'danger' : 'sucess', success ? 'c1' : 'c2']">Lorem, ipsum.</p> -->
<!-- <p [class.danger]="err">Lorem, ipsum.</p> -->
<!-- <p [class]="{ danger: err, sucess: success }">Lorem, ipsum.</p> -->
<!-- <p [style.fontSize.px]="100">style</p> -->

<!-- <h1>{{ name }}</h1>

<h1>{{ data }}</h1>
<input type="text" (input)="changeData($event)" />
<input type="text" [value]="data" /> -->

<!-- ngModel => import FormsModule -->
<!-- banana in box    [(ngModel)] -->

<!-- <h1>{{ twoWay }}</h1>
<input type="text" [(ngModel)]="twoWay" /> -->

<!-- <img [src]="images[1]" alt="" />

{{ 1 + 1 }}

// xxs
{{ dis() }}

{{ images[1] }}

<input type="number" [value]="number"  (input)="changeData($event)" /> -->

<!-- {{if()}} -->

<h1>frist works!</h1>
