@import "./variables";
// @use "variables";

.main {
  &-title {
    color: $primary-color;
  }

  &-subtitle {
    color: $secondary-color;
  }

  &-btn {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color;
    }
  }
}

@each $size in $font-sizes {
  .font-#{$size} {
    p {
      font-size: $size;
    }
  }
}

.finish-btn {
  // width: auto;
  padding: 10px;
  background-color: $primary-color;
  color: white;
  border: none;

  @media (max-width: $tablet) {
    width: 50%;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}
