<header>
  <div class="header-content">
    <div class="logo">
      <a routerLink="/home">
        <h2>Task Manager</h2>
      </a>
    </div>

    <nav>
      <a routerLink="/home" routerLinkActive="active"> Home </a>
      <a routerLink="/add-task" routerLinkActive="active"> Add Task </a>
      <a routerLink="/lists" routerLinkActive="active"> Lists</a>
      <!-- <a routerLink="/about" routerLinkActive="active"> <span class="nav-icon"></span>About </a> -->
    </nav>

    <div class="auth-buttons">
      @if (!isLoggedIn()) {
        <button class="btn-login" routerLink="/login">Login</button>
        <button class="btn-signup" routerLink="/signup">Sign Up</button>
      } @else {
        <button class="btn-logout" (click)="logout()">Logout</button>
      }
    </div>
  </div>
</header>
