.toast {

  color: white;

  padding: 20px;

  border-radius: 12px;

  animation: slide 0.4s;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


/* .success{
  background-color: #22c55e;
}
.info{
  background-color: #2261c5;
} */
.toast h3 {
  margin-top: 0;
}

