@if (notification()) {
  @switch (notification()?.type) {
    @case ('success') {
      <div class="notification success">
        <p>{{ notification()?.message }}</p>
      </div>
    }
    @case ('error') {
      <div class="notification error">
        <p>{{ notification()?.message }}</p>
      </div>
    }
    @case ('warning') {
      <div class="notification warning">
        <p>{{ notification()?.message }}</p>
      </div>
    }
    @case ('info') {
      <div class="notification info">
        <p>{{ notification()?.message }}</p>
      </div>
    }
    @default {
      <div class="notification info">
        <p>{{ notification()?.message }}</p>
      </div>
    }
  }
}
