@if (message) {
  @switch (type) {
    @case ('success') {
      <div class="notification success">
        <p>{{ message }}</p>
      </div>
    }
    @case ('error') {
      <div class="notification error">
        <p>{{ message }}</p>
      </div>
    }
    @case ('warning') {
      <div class="notification warning">
        <p>{{ message }}</p>
      </div>
    }
    @case ('info') {
      <div class="notification info">
        <p>{{ message }}</p>
      </div>
    }
    @default {
      <div class="notification info">
        <p>{{ message }}</p>
      </div>
    }
  }
}
